<div class="col-md-12">
  <div class="group">
    <% if !current_user || !current_user.is_admin? %>
    <% elsif current_user.is_admin? %>
      <%= link_to("编辑",edit_article_path(@article.token),class: "btn btn-default pull-right")%>
    <% end %>

  </div>
  <h2><%= @article.title %></h2>
  <p><%= @article.description %></p>
</div>
